<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "global/_head.html" %}
</head>
<body>
    <div class="blog-wrapper">
        
        {% if site_setup_meu.show_header  %}
            {% include "global/_header.html" %}
        {% endif %}
    
        {% block content %}{% endblock content %}
        
        {% if site_setup_meu.show_pagination  %}
            {% include "global/_pagination.html" %}
        {% endif %}

        {% if site_setup_meu.show_footer %}
            {% include "global/_footer.html" %}
        {% endif %}
    
        {% comment %} {% include "global/temp.html" %} {% endcomment %}
    </div>

</body>
</html> 